$schriftart: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$schriftart-bold: 'Roboto Black', 'Geneva', 'Arial Black', sans-serif;
$schriftgroesse: 1.3rem;
$darkest: #222220;
$darkslategreen: #243b36;
$tuerkis: #017b7f;
$stone: #c7cac0;
$lightstone: #e2e6e6;
$abstandZurDecke: 1em;

html {
	font-size: 1em;
}
body {
  background-color: $darkest;
  color: $lightstone;

  a {
	color: $lightstone;
	overflow-wrap: break-word;
  }

  h1, h2, h3 {
      font-family: arial;
      text-align: center;
  }
  h1 {
	  font-size: $schriftgroesse * 2;
	  margin-top: $abstandZurDecke;
  }
  h2 {
      font-size: $schriftgroesse * 1.7;
  }
  h3 {
      font-size: $schriftgroesse * 1.6;
  }
  
  hr {
    border: 1px solid $darkslategreen;
  }

  button {
   font-size: $schriftgroesse * 1.3;
   background-color: $stone;
   color: $darkest;
   padding: 0.6em;
        border-radius: 0.6em;
  }

  section {
  
    p {
      width: 50%;
      margin: 1em auto;
      margin-top: 1em;
  
	  font-size: $schriftgroesse;
      font-family: $schriftart;

      text-align: center;
      
      img {
      	width: 100%;
      }

    }
    
    /** Status Nachrichten **/
    div {
      ~ p {
        padding: 1.6em;
  		font-size: $schriftgroesse;
        margin: 2em auto;
        color: white; /* defaultfarbe weiss*/
        border-radius: 1em;
      }
      &.lila ~ p {
        background-color: #4B0082;
      }
      &.blue ~ p  {
        background-color: darkblue;
      }
      &.lightblue ~ p {
        background-color: lightblue;
        color: black;
		a { color: black; }
      }
      &.lightgreen ~ p {
        background-color: lightgreen;
        color: black;
		a { color: black; }
      }
      &.red ~ p {
        background-color: red;
        color: black;
		a { color: black; }
      }
      &.coralred ~p {
	background-color: #ff4040 ;
      }
      &.orange ~ p {
        background-color: orange;
        color: black;
		a { color: black; }
      }
      &.wa_blau_1 ~p, &.wa_blau_1.preview {
	background-color: #5796ff;
      }
      &.wa_braungrau ~p {
	background-color: #73666b;
      }
      &.wa_hellblau ~p {
	background-color: #57c9ff;
        color: black;
		a { color: black; }
      }
      &.wa_tuerkis ~p {
	background-color: #26c4db   ;
      }
      &.wa_oliv ~p {
	background-color: #8fa840   ;
      }
      &.wa_dunkelpink ~p {
	background-color: #a62b70   ;
      }
      &.wa_flieder ~p {
	background-color: #8294c9   ;
      }
      &.wa_dunkelblau ~p {
	background-color: #243640;
      }
      &.wa_hellgruen ~p {
		background-color: #7acca6;
		color: black;
		a { color: black; }
	  }
	  &.wa_orange ~p {
		background-color: #f0b330;
		color: black;
		a { color: black; }
	  }
	  &.wa_dunkelrot ~p {
		  background-color: #782138;
	  }
	  &.bold ~ p {
		  font-weight: bold;
		  font-family: $schriftart-bold;
	  }
     
      &.clear ~ p {
        background: none;
		color: white;

		font-weight: normal;
		font-family: $schriftart;

        padding: .6em;

        width: 50%;
        margin: 1em auto;
        margin-top: 1em;
    
        font-size: $schriftgroesse;
		a {
			color: white;
		}
      }
    }

    /** 
    Buttons zum Navigieren 
    zwischen den Status Seiten
    **/
    ul {
	list-style-type: none;

	padding:0;
	margin-bottom: 2.6em;
	
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: space-around;

	li {
		font-style: italic;
		flex: 0 1 auto;
		a {
			color: $lightstone;
			padding: 0.4em;
			font-size: $schriftgroesse * 2;
		}
	}
    }
  }

  div.preview {

        padding: 1.6em;
  		font-size: $schriftgroesse;
        margin: 4em auto;
        color: white; /* defaultfarbe weiss*/
        border-radius: 1em;
		width: 50%;

	&.wa_blau_1 {
		background-color: #5796ff;
	}
	&.wa_braungrau {
		background-color: #73666b;
	}
	&.wa_hellblau {
		background-color: #57c9ff;
		color: black;
	}
	&.wa_tuerkis {
		background-color: #26c4db;
	}
	&.wa_oliv {
		background-color: #8fa840;
	}
	&.wa_dunkelpink {
		background-color: #a62b70;
	}
	&.wa_flieder {
		background-color: #8294c9   ;
	}
	&.wa_dunkelblau {
		background-color: #243640;
	}
	&.wa_hellgruen {
		background-color: #7acca6;
		color: black;
		a { color: black; }
	}
	&.wa_orange ~p {
	  background-color: #f0b330;
	  color: black;
	  a { color: black; }
	}
	&.wa_dunkelrot ~p {
		background-color: #782138;
	}
  }

	footer {
		font-family: arial;
		font-size: $schriftgroesse;

		ul {
			list-style-type: none;

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			padding: 0;

			li {
				a { 
					background-color: $darkslategreen;
					padding: .6em 3em;
					border-radius: .3em;
				}

				padding: .3em;
				margin: .6em auto;
			}
		}
	}

	&.textheavy {
		h1, h2 {
			margin-top: $abstandZurDecke*1.6;
		}
		h1:nth-of-type(1) {
			margin-top: $abstandZurDecke;
		}
		h1 {
			color: $tuerkis;
		}
		h2 {
			color: $stone;
			font-size: $schriftgroesse*1.3;
		}
		h3 {
			color: $stone;
			font-size: $schriftgroesse*1.1;
		}
	}

	&.error {
		section {
			background-color: firebrick;
			padding: 2em;

			p {
				width: 100%;
			}

			img {
				margin: 0 auto;

				width: 20%;
				
				@media screen and (max-width: 760px) {
					width: 60%;
				}
			}
		}
	}
}
